<% if (user_id) { %>
  <header class="section menu">
    <nav>
      <span class="tweeter-name"><a href="/buy-sell">Home</a></span>
      <span class="tweeter-name"><a href="/buy-sell/categories">Categories</a></span>
      <span class="tweeter-name"><a href="/messages">Messages</a></span>
      <span class="tweeter-name"><a href="/buy-sell/favorites">Favorites</a></span>
      <span class="logo">
      <span>Logged in as: <%=idObject.name%> </span>
      </span>
    </nav>
  </header>
  <% } else { %>

        <header class="section menu">
          <nav>
            <span class="tweeter-name"><a href="/buy-sell">Home</a></span>
            <span class="tweeter-name"><a href="/buy-sell/categories">Categories</a></span>
            <span class="logo">
              <span>Sign In</span>
              <i class="fas fa-angle-double-down"></i>
            </span>
          </nav>
        </header>

        <% } %>
