<form action="/buy-sell" method="post" id="new-property-form" class="new-property-form">
  <div class="new-property-form__field-wrapper">
    <label for="new-property-form__title">Title</label>
    <input type="text" name="title" placeholder="Title" id="new-property-form__title">
  </div>

  <div class="new-property-form__field-wrapper">
    <label for="new-property-form__description">Description</label>
    <textarea placeholder="Description" name="description" id="property-form__description" cols="30" rows="10"></textarea>
  </div>


  <div class="new-property-form__field-wrapper">
    <label for="new-property-form__cost">Price</label>
    <input type="number" name="price" id="new-property-form__cost">
  </div>

  <div class="new-property-form__field-wrapper">
    <label for="new-property-form__thumbnail">Thumbnail Image</label>
    <input placeholder="Thumbnail Image" type="text" name="thumbnail_photo_url" id="new-property-form__thumbnail">
  </div>

  <div class="new-property-form__field-wrapper">
    <label for="new-property-form__cover">Cover Image</label>
    <input placeholder="Cover Image" type="text" name="cover_photo_url" id="new-property-form__cover">
  </div>

  <div class="new-property-form__field-wrapper">
    <label for="new-property-form__category">Category</label>
    <select id="new-property-form__category" name="category">
      <option>Iron Man</option>
      <option>Star Lord</option>
      <option>Spiderman</option>
      <option>Black Widow</option>
      <option>Batman</option>
      <option>Thanos</option>
    </select>
  </div>

  <hr>


    <div class="new-property-form__field-wrapper">
      <label for="new-property-form__country">Country</label>
      <select id="new-property-form__country" name="country" data-country-selected="CA">
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="BR">Brazil</option>
      </select>
    </div>

    <div class="new-property-form__field-wrapper">
      <label for="new-property-form__province">Province</label>
      <input placeholder="Province" type="text" name="province" id="new-property-form__city" />
    </div>

    <div id="new-property-form__locality-fields">

      <div class="new-property-form__field-wrapper">
        <label for="new-property-form__city">City</label>
        <input placeholder="City" type="text" name="city" id="new-property-form__city" />
      </div>

      <div class="new-property-form__field-wrapper">
        <label for="new-property-form__street">Street</label>
        <input placeholder="Street" type="text" name="street" id="new-property-form__street" />
      </div>
    </div>

      <div class="new-property-form__field-wrapper">
        <label for="new-property-form__zip">Postal Code</label>
        <input placeholder="Postal Code" type="text" name="post_code" id="new-property-form__zip" />
      </div>
    </div>

    <div class="new-property-form__field-wrapper">
        <button>Create</button>
        <a id="property-form__cancel" href="#">Cancel</a>
    </div>

</form>
