.category-design {
  display: flex;
  height: 5em;
  width: 100%;
  margin-top: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: radial-gradient(circle, lightgray, white);
}

.container {
  display: flex;
  background-color: #f3f1ec;
  margin-top: 200px;
  width: 100%;
  justify-content: space-around;
  padding-left: 2em;
  padding-right: 2em;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

#property-form__description {
  border: 1px solid #888;
}

.buttons {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
}

.new-property-form__field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-design > * {
  margin: 0 auto;
  width: 95%;
}

.category-design:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.category-design footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 60%;
  border-top: 3px solid #494949;
  align-items: center;
}

.category-design header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.category-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2em;
  color: darkblue;
}

.listing-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 70%;
  font-family: 'Source Sans Pro', sans-serif;
}

.tweet-form {
  width: 100%;
  height: 100%;
}

.avatar {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.avatar p {
  font-size: 0.75em;
}

.avatar h1 {
  color: red;
}

.outer-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 60%;
  color: #264653;
}

.category-background a {
  text-decoration: none;
}

.category-container {
  display: flex;
  width: 100%;
}

.title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 6em;
  font-weight: bold;
}

.listing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.5em;
  width: 100%;
  flex-direction: column;
}

.listing-container > * {
  margin: 0 auto;
  width: 95%;
}

.listing-container footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 60%;
  align-items: center;
}

.listing-container footer p {
  padding-right: 1em;
  padding-left: 1em;
}

.listing-container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.display-left {
  display: flex;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.display-left img {
  height: 8em;
}

.display-left-sold {
  display: flex;
  align-items: center;
}

.display-left-sold img {
  height: 8em;
}

.display-left:hover {
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.15);
}

.favorites-column-layout {
  margin-top: 100px;
}

.favorites-column-layout .empty-favorites {
  display: flex;
  justify-content: center;
}

.favorites-column-layout .display-delete-favorites {
  padding-right: 1.5em;
}

.favorites-column-layout .title-container {
  padding-left: 10em;
}

.favorites-column-layout a {
  text-decoration: none;
}

.favorites-column-layout .avatar {
  padding-left: 2em;
}

.category-main-page {
  margin-top: 130px;
}

.category-main-page a {
  text-decoration: none;
}

.category-listings-page {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: inherit;
  margin: 0 auto;
  color: black;
  border-left: 1px solid lightgray;
  padding-top: 1.5em;
}

.category-listings-page a {
  width: 100%;
  text-decoration: none;
}

.listings-page {
  margin-top: 30px;
  width: 100%;
}

.listings-page button {
  display: flex;
  height: 2em;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
  background: radial-gradient(circle, lightgray, white);
  margin-top: 30px;
}

.listings-page .listing-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.index-features {
  display: flex;
  margin-bottom: 80px;
}

.index-features img {
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: radial-gradient(circle, purple, white);
  padding: 0.1em;
  height: 15em;
}

.index-features section {
  height: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-top: 30px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 85%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 3em;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  top: 6em;
  left: 7%;
}

.listings-cover {
  margin-top: 50px;
  margin-left: 100px;
}

.listings-cover img {
  height: 500px;
  width: 700px;
}

.listings-cover-sold {
  font-size: 100px;
  color: red;
}

display-left-sold-sold {
  display: flex;
  align-items: center;
  flex-direction: column;
}

display-left-sold-sold img {
  height: 8em;
}
