body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  width: 100%;
  color: #545149;
  background-color: #a8dadc;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: inherit;
  margin: 0 auto;
  color: black;

}

.main {
  display: flex;
  flex-direction: row;
  padding-top: 100px ;
}

.feature {
  display: flex;
  width: 70%;
  line-height: 30px;
  font-size: 70%;
}

.content {
  width: 66.7%;
  float: right;
  font-size: 80%;
  padding-top: 4em;
}

.hero {
  padding-left: 50px;
  width: 60%
}

.container {
  padding-top: 2em;
}

