nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}

nav > span {
  display: flex;
  color:blue;
  font-family: 'Bungee', sans-serif;
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-bottom: 0.5em;
  flex-direction: column;
  a {
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
  }
}


.logo span {
  display: inline-block;
  font-family: 'Source Sans Pro';
}

.logo i{
  color: black;
  font-size: 0.75em;
  padding-top: 0.5em;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, 10px, 0);}
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding-top: 2em;
}
.nav-titles {
  font-family: 'Source Sans Pro';
  padding-top: 2em;
  font-size: 1em;
}
.tweeter-name {
  font-family: 'Source Sans Pro';
  padding-top: 2em;
  font-size: 1.25em;
}
