.container {
  display: flex;
  flex-direction: column;
}
.messageForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.text {
  width: 100%;
  border: 3px solid black;
  color: red;
}
